<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>log4j-init</servlet-name>
        <servlet-class>com.baidu.agileStatusQuery.servlets.Log4jInit</servlet-class>
        <init-param>
            <param-name>log4j</param-name>
            <param-value>WEB-INF/config/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>entranceServlet</servlet-name>
        <servlet-class>com.baidu.agileStatusQuery.servlets.entranceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>entranceServlet</servlet-name>
        <url-pattern>/initialize.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>clickForDetails</servlet-name>
        <servlet-class>com.baidu.agileStatusQuery.servlets.clickForDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clickForDetails</servlet-name>
        <url-pattern>/details.do</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.baidu.agileStatusQuery.utils.ListenerLoadConfig</listener-class>
    </listener>
    <listener>
        <listener-class>com.baidu.agileStatusQuery.servlets.Log4jInit</listener-class>
    </listener>
</web-app>